.has-error {
    color : #dc3545;
}
.help-block
{
	color : #dc3545;
}

.modal-header {
    display: block !important;
}


.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
.coming-soon {
    max-width: 100% !important;
    width: 100% !important;
}

.step-container {
    min-height: 0px !important;
}

.logo-centered img{
    margin-bottom: 15px !important; ;
}
.step-wizard .progress{
    top : 0px !important;
}

.widget-32 .content{
    padding: 2rem 0 !important;
}

.faceMocion {
    z-index : 1000;
}