.container1{ margin: 0 auto; width: 730px; background:#efefef}
.row-top{width: 100%;}
.col-left-reg{ float: left; width: 25%;}
.pad-left-right{padding-left: 0px; padding-right: 0px;}
.form{float: left; width: 100%;margin-top: 20px;}
.col-center{float: left; width: 50%;}
.logo{ width: 100%; height: auto;}
.col-pic{float: left; width: 25%;}
.pic{ float: right; width: 175px; height: auto; border: 1px solid #000;}
.pic img{width: 100%; }
.terms{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.terms h2{ text-align: center; margin: 3px; }
.terms ul{list-style-type:decimal;list-style-position: inside;}
.terms ul li{ margin-bottom: 7px;}
.detail{ width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.detail h2{margin: 0 0 5px 0; font-family: "Times New Roman", Georgia, Serif;}
.span{ background: #f5f5f5; padding:5px; margin: 0px;}

.d-line{width: 100%; float: left; background:#f5f5f5; padding:3px; margin-top:5px;}
.d-line span{padding:3px; font-weight: bold}
.half-left{ float: left; width: 60%; }
.half-right{ float: left; width: 40%; }
.membership{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.membership h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.p-d1{float: left; width: 30%;}
.p-d2{float: left; width: 30%;}
.p-d3{float: left; width: 40%;}
.p-d21{float: left; width: 25%;}
.p-d22{float: left; width: 25%;}
.p-d23{float: left; width: 25%;}
.p-d24{float: left; width: 25%;}
.bill-d{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.bill-d h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.bill-d h3{margin: 5px 0 2px 0; font-family:"Times New Roman", Georgia, Serif; font-size:16pt}
#b-line{width: 100%; float: left; padding:3px; margin-top:20px;}
.b-d-left{float: left; width: 45%;background:#f5f5f5; }
.b-d-right{float: right; width: 43%;background:#f5f5f5; }
#b-line span{padding:3px; font-weight: bold}
.b-d-sign{float: right; width: 43%; }
.sign{ border-top: 1px solid #000; padding-top: 10px; text-align: center}

.row-top {
		  margin-bottom:10px;
}








.col-top-1 {border-right: 1px solid #cccccc;
		 
}
.cat-form{ border-bottom: 1px solid #000; display: inline; }

.text-center{ text-align:center;}
.cal-bottom{margin-bottom:8px;}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.calculator-button {
	
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111);
    padding: 21px;
    font-size: 26px;
}

.calculator-button:hover {
	background-color: rgb(198,213,205);
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none;
	outline:none;
}

#outer-calc {
	background-color: rgb(84,39,51);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px
}

.button-column{
margin-bottom: 8px;
}
.p-btn-column{
padding: 2px 1px;
}

.amount {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.liter {
    color: #fff;
    background-color: #60c441;
    border-color: #60c441;
}

.rate {
    color: #fff;
    background-color: #434343;
    border-color: #434343;
}
.bottom{    margin-bottom: 7px;}
.navbar {
  margin-bottom: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #eee;
	background: #f8f8f8;
	text-align: center;
}
/************ For Printing *****/
@media print {

.container1{ margin: 0 auto !important; width: 730px !important; background:#efefef !important;}
.row-top{width: 100% !important;}
.col-left-reg{ float: left !important; width: 25% !important;}
.pad-left-right{padding-left: 0px !important; padding-right: 0px !important;}
.form{float: left !important; width: 100% !important;margin-top: 20px !important;}
.col-center{float: left !important; width: 50% !important;}
.logo{ width: 100% !important; height: auto !important;}
.col-pic{float: left !important; width: 25% !important;}
.pic{ float: right !important; width: 130px !important; height: auto !important; border: 1px solid #000 !important;}
.pic img{width: 100% !important;}
.terms{width: 100% !important; float: left !important; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size:9pt !important;    padding-top: 30px !important;    background: #efefef !important; }
.terms h2{ text-align: center !important; margin: 3px !important; }
.terms ul{list-style-type:decimal !important;list-style-position: inside !important;}
.terms ul li{ margin-bottom: 7px !important;}
.detail{ width: 100% !important; float: left !important; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size:9pt !important}
.detail h2{margin: 0 0 5px 0 !important; font-family: "Times New Roman", Georgia, Serif !important;}
.span{ background: #f5f5f5 !important; padding:5px !important; margin: 0px !important;}

.d-line{width: 100% !important; float: left !important; background:#f5f5f5 !important; padding:3px !important; margin-top:5px !important;}
.d-line span{padding:3px !important; font-weight: bold !important}
.half-left{ float: left !important; width: 60% !important; }
.half-right{ float: left !important; width: 40% !important; }
.membership{width: 100% !important; float: left !important; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size:9pt !important}
.membership h2{margin: 5px 0 5px 0 !important; font-family:"Times New Roman", Georgia, Serif !important; font-size:14pt !important}
.p-d1{float: left !important; width: 30% !important;}
.p-d2{float: left !important; width: 30% !important;}
.p-d3{float: left !important; width: 40% !important;}
.p-d21{float: left !important; width: 25% !important;}
.p-d22{float: left !important; width: 25% !important;}
.p-d23{float: left !important; width: 25% !important;}
.p-d24{float: left !important; width: 25% !important;}
.bill-d{width: 100% !important; float: left !important; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size:9pt !important}
.bill-d h2{margin: 5px 0 5px 0 !important; font-family:"Times New Roman", Georgia, Serif !important; font-size:14pt !important}
.bill-d h3{margin: 5px 0 2px 0 !important; font-family:"Times New Roman", Georgia, Serif !important; font-size:16pt !important}
#b-line{width: 100% !important; float: left !important; padding:3px !important; margin-top:20px !important;}
.b-d-left{float: left !important; width: 45% !important;background:#f5f5f5 !important; }
.b-d-right{float: right !important; width: 43% !important;background:#f5f5f5 !important; }
#b-line span{padding:3px !important; font-weight: bold !important}
.b-d-sign{float: right !important; width: 43% !important; }
.sign{ border-top: 1px solid #000 !important; padding-top: 10px !important; text-align: center !important}

.row-top {
		  margin-bottom:10px !important;    margin-top: -30px !important;
}
.col-top-1 {border-right: 1px solid #cccccc !important;
		 
}
.cat-form{ border-bottom: 1px solid #000 !important; display: inline !important; }

.text-center{ text-align:center !important;}

.cal-bottom{margin-bottom:8px !important;}

.row-eq-height {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display:         flex !important;
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111) !important;
    padding: 21px !important;
    font-size: 26px !important;
}

.calculator-button:hover {
	background-color: rgb(198,213,205) !important;
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none !important;
	outline:none !important;
}

#outer-calc {
	background-color: rgb(84,39,51) !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
	padding-top: 50px !important;
	padding-bottom: 50px !important
}

.button-column{
margin-bottom: 8px !important;
}
.p-btn-column{
padding: 2px 1px !important;
}

.amount {
    color: #fff !important;
    background-color: orange !important;
    border-color: orange !important;
}

.liter {
    color: #fff !important;
    background-color: #60c441 !important;
    border-color: #60c441 !important;
}

.rate {
    color: #fff !important;
    background-color: #434343 !important;
    border-color: #434343 !important;
}
.bottom{    margin-bottom: 7px !important;}
.navbar {
  margin-bottom: 20px !important;
}
.jumbotron {
    text-align: center !important;
    background-color: transparent !important;
}
.footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
    border-top: 1px solid #eee !important;
	background: #f8f8f8 !important;
	text-align: center !important;
}
@page {size: portrait !important;margin: none !important;}
.uzair{}	
}