html,
body {
    height: 100%;
}
.site-login {
    width: 500px;
    margin: auto;
    background-color: white;
    border: 1px solid;
    padding-left: 16px;
    -webkit-box-shadow: -1px 3px 60px 12px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 3px 60px 12px rgba(0,0,0,0.7);
    box-shadow: -1px 3px 60px 12px rgba(0,0,0,0.7);
}
.site-login > h1 {
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 8px;
}
.site-login .form-control {
    margin-left: 17px;
}
.site-login .col-lg-offset-1 {
    margin-left: 3.333333%;
}
.form-group.field-loginform-rememberme {
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
}
.col-lg-3 {
    width: 53%;
}
.login {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.52), rgba(255, 255, 255, 0.55)),  url(../images/) repeat;
    background-size: cover;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #000000;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: white;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.my_camera {
    margin-top: 5px;
}
.col-xs-8.spec, .nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nopad>.control-label {
    vertical-align: -webkit-baseline-middle;
    font-weight: 500;
}
div#discountpr {
    text-align: center;
    color: green;
}