/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
body { font: 14px/1.4 Georgia, serif; }
*/

* { margin: 0; padding: 0; }
#page-wrap { width: 320px; margin: 0 auto; }

textarea { border: 0;
font: 12px Georgia, Serif;
overflow: hidden;
resize: none;
text-align: center; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#header { height: 30px; font-size: 16px; width: 100%; margin: 20px 0 0 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 2px; padding: 8px 0px; }
.d-area{width: 99%;  padding:2px; border-bottom: 1px solid #bcbcbc; float: left; }
.time{width: 50%; padding:5px 0; float:left;font-size: 9pt;  }
.date{width: 49%;
		padding: 5px 0;
		float: left;
		text-align: right;
		border-left: 1px solid #cecece;
		font-size: 9pt;
	 }
	 
#cus-in { margin-top: 6px; width: 100%; float: right; font:13px Helvetica, Sans-Serif; }
#cus-in span {font: bold 15px Helvetica, Sans-Serif; }
#cus-in  td { text-align: right; width: 50%; border: 1px solid #e6e1e1 }
#cus-in  td.cus-in-head { text-align: left;}
#cus-in  td textarea { width: 100%; height: 20px; text-align: right; }	 


#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }



#items { clear: both; width: 100%; text-align: center; margin: 10px 0 0 0; float: left; border: 1px solid black; font: bold 15px Helvetica, Sans-Serif; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 26px; font: 13px Helvetica, Sans-Serif; }
#items tr.item-row td { border: 0; vertical-align: top; border: 1px solid black; font: 13px Helvetica, Sans-Serif; }
#items td.description { width: 40%; }
#items td.item-name { width: 37%; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#comment { text-align: center; margin: 20px 0 0 0; }
#comment h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#comment textarea { width: 100%; text-align: center;}

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

body { background:#ffffff;}

/*nav css*/
.navbar-inverse {background-color: #ffffff;border-radius: 0px;height:50px;width:100%;position: fixed;z-index: 999;border: 0px solid;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);transition:all ease 0.8s;
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color:white !important;background-color: #0e364c;}
.navbar-brand {padding: 0;margin-left: 0px !important;}
.navbar-brand img { height:100%;transition:all ease 0.8s;}
.navbar-inverse .navbar-nav>li>a {color:rgb(255, 102, 0);font-family: 'Open Sans', sans-serif; font-weight: bold;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {color:rgb(0, 4, 51) !important;}
.navbar-inverse .navbar-nav>li.active>a:hover, .navbar-inverse .navbar-nav>li.active>a:focus {color:rgb(255, 255, 255) !important;}
.menu { display:none;}
.search-box1 {padding: 20px 0px;z-index: 99999;width: 100%;}
.search {padding: 30px 0px;float: left;width: 100%;}
.serach-footer {left: 20px;position: absolute;top: 10px;}
.search-wrap {display: block;width: 100%;height: 40px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;
    background-image: none;border: 1px solid #e2e2e2;border-radius: 20px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100% !important;padding-left: 45px;}
.search-btn {background:rgb(0, 4, 51);
    width: 100%;border-radius: 0px 20px 20px 0px;color: #fff !important;height: 40px;border: 0px solid;font-weight: 600;font-size: 14px;}
.search-btn:hover, .search-btn:focus {background:rgb(0, 4, 51);color: #fff !important;}
.modal-dialog {width: 70% !important;margin: 5% auto;}
.modal-content { background-color:rgba(0, 0, 0, 0.59);webkit-box-shadow: 0px -1px 13px 13px rgba(0, 0, 0, .5);
    box-shadow: 0px -1px 13px 13px rgba(0, 0, 0, .5)}
.modal-title {color: #ffffff !important;}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #efffff;
    background: rgb(53, 53, 53);
}


/*nav css close*/




.page-header {background:#ccc;margin:0;}

.profile-head { width:100%;float: left;padding: 15px 5px;}
.profile-head img { height: 220px;
    width: 250px; margin:0 auto; border:5px solid #fff; border-radius:5px;}
.profile-head h5 {width: 100%;padding:5px 5px 0px 5px;text-align:justify;font-weight: bold;color: #fff;font-size: 25px;text-transform:capitalize;
    margin-bottom: 0;}
.profile-head p {width: 100%;text-align: justify;padding:0px 5px 5px 5px;color: #fff;font-size:17px;text-transform:capitalize;margin:0;}
.profile-head a {width: 100%;text-align: center;padding: 10px 5px;color: #fff;font-size: 15px;text-transform: capitalize;}

.profile-head ul { list-style:none;padding: 0;}
.profile-head ul li { display:block; color:#ffffff;padding:5px;font-weight: 400;font-size: 15px;}
.profile-head ul li:hover span { color:rgb(0, 4, 51);}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a { color:#ffffff;}
.profile-head h6 {width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}


.nav-tabs {margin: 0;padding: 0;border: 0;}
.nav-tabs > li > a {background: #DADADA;border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);}
.tab-pane {background: #ffffff;box-shadow: 0 0 4px rgba(0,0,0,.4);border-radius: 0;text-align: center;padding: 10px;}
.tab-content>.active {/*margin-top:50px;width:100% !important;*/}

/* edit profile css*/

.hve-pro {    background-color:rgb(255, 102, 0);padding: 5px; width:100%; height:auto;float:left;}
.hve-pro p {float: left;color:#fff;font-size: 15px;text-transform: capitalize;padding: 5px 20px;font-family: 'Noto Sans', sans-serif;}
h2.register { padding:10px 25px; text-transform:capitalize;font-size: 25px;color: rgb(255, 102, 0);}
.fom-main { overflow:hidden;}

/*legend {font-family: 'Bitter', serif;color:#ff3200;border-bottom:0px solid;}*/
.main_form {background-color: transparent;}
label.control-label {font-family: 'Noto Sans', sans-serif;font-weight: 100; margin-bottom:5px !important;
    text-align:left !important; text-transform:uppercase; color:#798288;}
.submit-button {color: #fff;background-color:rgb(255, 102, 0);width:190px;border: 0px solid;border-radius: 0px; transition:all ease 0.3s;margin: 5px;
    float:left;}
.submit-button:hover, .submit-button:focus {color: #fff;background-color:rgb(0, 4, 51);}
.hint_icon {color:#ff3200;}
.form-control:focus {border-color: #ff3200;}
select.selectpicker { color:#99999c;}
select.selectpicker option { color:#000 !important;}
select.selectpicker option:first-child { color:#99999c;}
.input-group { width:100%;}
.uplod-picture {width: 100%; background-color: transparent;color: #fff; padding:20px 10px;margin-bottom:10px;}
.uplod-file {position: relative;overflow: hidden;color: #fff;background-color: rgb(0, 4, 51);border: 0px solid #a02e09;border-radius: 0px;
    transition:all ease 0.3s;margin: 5px;}
.uplod-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;
    filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.uplod-file:hover, .uplod-file:focus {color: #fff;background-color:rgb(255, 102, 0);}
h4.pro-title { font-size:24px; color:rgba(0, 4, 51, 0.96); text-transform:capitalize; text-align:justify;padding: 10px 15px;font-family: 'Bitter', serif;}
.bio-table { width:75%;border:0px solid;}
.bio-table td {text-transform: capitalize;text-align: left;font-size: 15px;}
.bio-table>tbody>tr>td { border:0px solid;text-transform: capitalize;color: rgb(0, 4, 51); font-size:15px;}
.responsiv-table { border:0px solid;}
.nav-menu li a {margin: 5px 5px 5px 5px;position: relative;display: block;padding: 10px 50px;border: 0px solid !important;box-shadow: none !important;
    background-color: black !important;color: #fff !important;    white-space: nowrap;}
.nav-menu li.active a {
    background-color: white !important;
    color: black !important;
}
.stick{position:fixed !important;top:0;z-index:999 !important;width:100%;background:#ffffff !important;height:auto; transition:all ease 0.8s;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);}
.stick a { line-height:20px !important;}
.stick img { margin:0 !important;}



@media all and (max-width:768px){

    .navbar-inverse .drop_menu {display: block;visibility: visible;width: 110px;height:1000px;padding:0px 20px;position: absolute;right:-100px;
        transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}
    .navbar-brand {padding: 0;margin-left: 10px !important;}
    a.menu { display:block !important;margin: 9px 2px;float: right;color: rgba(255, 102, 0, 0.98); border:0px solid; background:none; font-size:30px;width:27px;position: relative;
        cursor:pointer;}
    a.menu:hover, a.menu:focus { color:rgb(0, 4, 51);}

    .drop_menu1 { display: block;visibility: visible;width:250px;height:1000px;padding:5px 30px;position: absolute;right:0 !important;
        background-color:#ffffff !important; transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}

}

@media all and (max-width:430px){
    .profile-head ul li {font-size: 12px !important;}
    .nav-menu li { width:50%;}
    .bio-table>tbody>tr>td {font-size: 13px;}

}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #337ab7;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    text-align: center;
}
.modal-header .close {
    margin-top: 5px;opacity: 1;
}
.text-danger strong {
    color: #9f181c;
}
.receipt-main {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #9f181c;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #333333;
    font-family: open sans;
}
.receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.42857;
}
.receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
}
.receipt-main::after {
    background: #414143 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
}
.receipt-main thead {
    background: #414143 none repeat scroll 0 0;
}
.receipt-main thead th {
    color:#fff;
}
.receipt-right h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
}
.receipt-right p {
    font-size: 12px;
    margin: 0px;
}
.receipt-right p i {
    text-align: center;
    width: 18px;
}
.receipt-main td {
    padding: 9px 20px !important;
}
.receipt-main th {
    padding: 13px 20px !important;
}
.receipt-main td {
    font-size: 13px;
    font-weight: initial !important;
}
.receipt-main td p:last-child {
    margin: 0;
    padding: 0;
}
.receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}
.receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
}
.receipt-header-mid {
    margin: 0;
    overflow: hidden;
}

#container {
    background-color: #dcdcdc;
}
.receipt-right {
    margin-top: 16px;
}
.paymentsection{

    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #9f181c;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #333333;
    font-family: open sans;
    float: right;
}
.paymentsection::after {
    background: #414143 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
}
i.fa.fa-close {
    color: white;
}
.centercontent, .radio, .checkbox {
    text-align: center;
    vertical-align: middle !important;
    margin-top: 0px;
    margin-bottom: 0px;
}
tbody tr td:last-child {
    width: 80px;
}
.site-error {
    margin-top: 60px;
}
#setupcust tr th:first-child, #custform tr th:first-child {
    width: 40%;
}
